{% extends 'navigation.html' %}
{% load i18n %}
{% load bootstrap %}

{% block pagescript%}
{% endblock %}

{% block pagestyle%}
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">Group create</h1>
        <form method="post">{% csrf_token %}
            {{ form|bootstrap }}
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="{% trans "Create" %}">
            </div>
        </form>
    </div>
{% endblock %}
