{% extends 'navigation.html'%}
{% load i18n %}
{% load thumbnail %}
{% load pagination_tags %}
{% load code_on %}

{% block pagescript%}
{% endblock %}

{% block pagestyle%}
    <style>
        #group-members tbody>tr>td{
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <div class="text-center">
            <h1>Students of the group "{{ group.name }}"</h1>
        </div>
        <div>
            <table id="group-members" class="table table-striped table-hover">
                <tr>
                    <th>{% trans 'Photo' %}</th>
                    <th>{% trans 'Student name' %}</th>
                    <th>{% trans 'Ticket number' %}</th>
                    <th>{% trans 'Birthday' %}</th>
                    <th>{% trans 'Actions' %}</th>
                    <th>{% trans 'Edit like admin' %}</th>
                </tr>
                {% autopaginate object_list %}
                {% for student in object_list %}
                    <tr class="{% if student.pk == headman.pk %}success{% endif %}">
                        <td>
                            {% thumbnail student.photo "100x100" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        </td>
                        <td>
                            {{ student.last_name }}
                            {{ student.first_name }}
                            {{ student.middle_name }}
                        </td>
                        <td>
                            {{ student.ticket }}
                        </td>
                        <td>
                            {{ student.birthday|date:"d F Y"  }}
                        </td>
                        <td>
                            <a href="{% url 'student:student_update' student.pk %}" class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="{% url 'student:student_delete' student.pk %}" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    <td class="text-center">
                        <a href="{% edit_url student %}" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">
                            <div class="text-center">{% trans 'No students yet.' %}</div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="text-center">
            {% paginate %}
        </div>
    </div>

{% endblock %}
