{% extends 'navigation.html' %}
{% load i18n %}
{% load code_on %}

{% block pagescript%}
{% endblock %}

{% block pagestyle%}
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <div class="text-center">
            <h1>Student groups</h1>
        </div>

        <div>
            <table id="group-table" class="table table-bordered">
                <tr>
                    <th class="text-center">{% trans 'Name' %}</th>
                    <th class="text-center">{% trans 'Students count' %}</th>
                    <th class="text-center">{% trans 'Headman' %}</th>
                    <th class="text-center">{% trans 'Actions' %}</th>
                    <th class="text-center">{% trans 'Edit like admin' %}</th>
                </tr>
                {% for group in object_list %}
                    <tr>
                        <td class="text-center">
                            {% if group.students_count != 0 %}
                                <a href="{% url 'student:students_of_group' group.pk %}">
                                    {{ group.name }}
                                </a>
                            {% else %}
                                {{ group.name }}
                            {% endif %}
                        </td>
                        <td class="text-center">{{ group.students_count }}</td>
                        <td class="text-center">
                            {% if group.headman %}
                                {{ group.headman }}</td>
                            {% else %}
                                ------
                            {% endif %}
                        <td class="text-center">
                            <a href="{% url 'student:group_update' group.pk %}" class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="{% url 'student:group_delete' group.pk %}" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="{% edit_url group %}" class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">
                            <div class="text-center">{% trans 'No groups yet.' %}</div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="text-center">
            {% if object_list.count != 0 %}
                <a href="{% url 'student:student_add'%}" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> {% trans "Add student" %}
                </a>
            {% endif %}
            <a href="{% url 'student:group_add' %}" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add group" %}
            </a>
        </div>
    </div>
{% endblock %}
