{% extends 'navigation.html'%}
{% load i18n %}

{% block pagescript%}
{% endblock %}

{% block pagestyle%}
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <form  method="post">{% csrf_token %}
            <div class="text-center">
                <p>{% trans "Are you sure you want to delete group " %} "{{ object }}"?</p>
                <input type="submit" class="btn btn-primary" value="{% trans "Confirm" %}">
            </div>
        </form>
    </div>
{% endblock %}
