{% extends 'navigation.html' %}
{% load i18n %}
{% load bootstrap %}

{% block pagescript%}
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        $(document).ready(function(){
            $( "#id_birthday" ).datepicker({
                dateFormat: '{{ settings.JS_DATE_FORMAT }}',
                changeMonth: true,
                changeYear: true
            }).prop('readonly', true);
        });
    </script>
{% endblock %}

{% block pagestyle%}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">Student change</h1>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form|bootstrap }}
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="{% trans "Change" %}">
            </div>
        </form>
    </div>
{% endblock %}
